*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}

html{
 scroll-behavior: smooth;   
}

body{
    background: #080808;
    color: #fff;

    
}

#header{
   width: 100%;
   height: 100vh; 
   /* background-image: url(./images/background.png); */
background-size: cover;
background-position:center ;

}

.container{
    padding: 10px 10% ;
    
    
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 40px;
    font-size: 2.7rem;
}
.logo span{
    color: #ff004f;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    text-decoration:none ;
    font-size: 18px;
    position: relative;
}

nav ul li a::after{
content: '';
width: 0%;
height: 3px;
background:#ff004f ;
position: absolute;
left: 0;
bottom: -6px;
transition:0.5s ;
}

nav ul li a:hover::after{
    width: 100%;

}

.flex{
    width: 100%;
    height: auto;
    display: flex;
}

.profile-img{
    width: 40%;
}
.profile-img img{
    /* height: auto; */
    height: 60vh;
    border-radius: 50%;
    margin-top: 100px;
  
}



#btn{
    display: block;
    margin: 17px auto;
    width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: background 0.5s;
    display: inline-block;
    background: #ff004f;
    cursor: pointer;
   
}



.header-text{
    /* margin-top: 20%; */
    font-size: 30px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 90vh;
    width: 60%;


}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
    padding: 17px 0px;
}
.header-text h5{
    padding: 8px 0px;
}

.header-text h5 span{
    color: #ff004f;
}
.header-text p{
    font-size: 18px;
    padding: 10px 0px;
}



.header-text h1 span{
    color: #ff004f;
}

/* ------About----- */

#about{
padding: 80px 0;
color: #ababab;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
}

.about-col-1 img{
width: 100%;
border-radius:15px ;
}

.about-col-2{
    flex-basis: 60%;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #fff;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
   margin-right:50px;
   font-size: 18px;
   font-weight: 500;
   cursor: pointer;
   position: relative;

}

.tab-links::after{

    content: '';
    width: 0;
    height:3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;

}

.tab-links.active-link::after{
width: 50%;

}

.tab-contents ul li{
    list-style: none;
    margin:10px 0 ;
}

.tab-contents ul li span{
color: #b54769;
font-size: 14px;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
   display: block; 
}

/* -------------service--- */

#services{
    padding: 30px 0;

}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;

}

.services-list div{
    background:#262626;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
   transition: background 0.5s, transform 0.5s;
}

.services-list div i{
  font-size: 50px;
  margin-bottom: 30px; 
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;

}
.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
background: #ff004f;
transform: translateY(-10px);
}

/* -----portfolio---- */

#portfolio{
 padding: 50px 0;

}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius:10px;
    position: relative;
    overflow: hidden;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    height: 0%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),#ff004f);
    border-radius:10px;
   position: absolute;
   left: 0;
   bottom: 0;
   overflow: hidden;
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
padding: 0 40px;
text-align: center;
font-size: 14px;
transition: height 0.5s;
}

.layer h3{
  font-weight: 500;
  margin-bottom:20px;  
}

.layer a{
margin-top: 20px;
color: #ff004f;
text-decoration: none;
font-size: 18px;
line-height: 60px;
background: white;
width: 60px;
height: 60px;
border-radius: 50%;
text-align: center;
}

.work:hover img{
    transform: scale(1.1);
}

.work:hover .layer{
height: 100%;
}

.btn{
   display: block;
   margin: 50px auto;
   width: fit-content;
    border: 1px solid #ff004f;
    padding: 14px 50px;
    border-radius: 6px;
text-decoration: none;
color: #fff;
transition:background 0.5s;

}



.btn:hover{
    background: #ff004f;
}

/* --------Contact----- */


.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left p{
    margin-top: 30px;
}

.contact-left p i{
    color: #ff004f;
    font-size:25px;

}

.social-icons{
    margin-top: 30px;

}

.social-icons a{
  text-decoration: none;  
  font-size: 30px;
  margin-right: 15px;
  color:#ababab;
  display: inline-block;
  transition: transform 0.5s;
}

.social-icons a:hover{
    color: #ff004f;
    transform: translateY(-5px);

}

.btn.btn2{
    display: inline-block;
    background: #ff004f;
}

.contact-right form{
    width: 100%;
}

form input, form textarea{
    width: 100%;
    border: 0;
    outline: none;
    background: #262626;
    padding: 15px;
    margin: 15px 0;
    color: #fff;
    font-size: 18px;
    border-radius: 6px;
}

form .btn2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
   font-weight: 300;
   margin-top: 20px ; 
   
   

}
.copyright a{
    text-decoration: none;
    color: #fff;
}


.copyright i{
    color: #ff004f;
}

/* .copy{
    padding-right: 200px;
} */



/* ---------CSS-----  */

nav .fas{
display: none;
}

@media only screen and (max-width:600px){
    #header{
        background-image: url(images/phone-background.png);
    }
    .header-text {
        margin-top: 100%;
        font-size: 16px;

    }
    .header-text h1{
        font-size: 30px;
    }
    nav .fas{
        display: block;
        font-size: 25px;
        }

        nav ul{
            background: #ff004f;
            position: fixed;
            top: 0;
            right: -200px;
            width: 200px;
            height: 100vh;
           padding-top: 50px;
           z-index: 2;
           transition:right 0.5s ;

        }

        nav ul li{
            display: block;
            margin: 25px;
        }
        nav ul .fas{
            position: absolute;
            top: 25px;
            left: 25px;
            cursor: pointer;
        }
        .sub-title{
            font-size: 40px;
        }
        .about-col-1 , .about-col-2{
          flex-basis: 100%;  
        }
        .about-col-1 {
            margin-bottom:30px;
        }
        .about-col-2{
            font-size: 14px;
        }
        .tab-links{
            font-size: 16px;
            margin-right: 20px;

        }
        .contact-left,.contact-right{
            flex-basis: 100%;
        }
        .copyright{
            font-size: 14px;
        }

        .profile-img img{
            display: none;
        }
        .profile-img{
            width: 0;
        }
        .header-text {
            width: 100%;
            font-size: 16px;
            margin-top: 0;
        }
        .header-text{
            height: auto;
        }
        #header{
            height: auto;
        }

}

@media only screen and (max-width:380px){
    .logo {
        width: 40px;
        font-size: 1.7rem;}
        .header-text h1 {
            font-size: 25px;
        }
        .header-text p {
            font-size: 17px;}

}

.copy{
    padding-right: 5px;
}

#msg{
    color: #61b752;
    margin-top: -40px;
    display: block;
}

/* scroll */

#backToTopButton {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    font-size: 16px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 10px 15px;
    transition: background-color 0.3s;
  box-shadow: 0 0 5px gray;
}

#backToTopButton:hover {
    background-color: #ff004f;
}

/* side bar */

/* width */
::-webkit-scrollbar {
    width: 7px;
  
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: white; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ff004f; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }

  .active{
color: #ff004f;
  }


  /* //Flip card css */

  html{
    font-size: 62.5%;
 }

 body{
    font-family: 'Inter', sans-serif;
    
    color: #ffff;
 } 

 ul,
 li {
    list-style: none;
    margin: 0;
    padding: 0;
}

 a {
    text-decoration: none;
    color: inherit;
}

.card-section {
    padding-top: 3rem;
}

.card-title {
    font-size: 3.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
 }

 .card-subtitle {
    font-size: 1.4rem;
    line-height: 1.8;
    text-align: center;
 }

 .flipping-cards {
   padding: 2rem 0;
   margin: 0 auto;
   width: 100%;
   max-width: 1100px;
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   grid-column-gap: 60px;
 }


/* Profile card front */

.profile-card {
   height: 52rem;
   position: relative;
   perspective: 150rem;
   -moz-perspective: 150rem;
 }

.profile-card-face {
   background-color: #1A1B21;
   color: #FFFFFF;
   width: 320px;
   margin: 30px auto;
   border-radius: 10px;
   transition: all .8s ease;
   position: absolute;
   top: 0;
   left: 0;
   -webkit-backface-visibility: hidden;
   backface-visibility: hidden;
   overflow: hidden;
}

.profile-card-back{
   transform: rotateY(180deg);
}

.profile-card:hover .profile-card-front {
   transform: rotateY(-180deg);
}

.profile-card:hover .profile-card-back {
   transform: rotateY(0);
}

/* Profile card front */

.profile-picture {
   width: 320px;
   max-height: 210px;
   border-radius: 10px 10px 0 0;
}

.name{
   font-weight: 700;
   font-size: 2.2rem;
   text-align: center;
   color: #FFFFFF;
   padding-top: 2rem;
   padding-bottom: 0.6rem;
 }

 .role{
   font-weight: 400;
   font-size: 1.4rem;
   text-align: center;
   color: #F3BF99;
   margin: 0px
 }

 .expertise-section {
    padding: 0 3.5rem 2rem;
 }

 .expertise-title {
    font-weight: 700;
    font-size: 1.5rem;
    color: #FFFFFF;
    margin-top: 2.8rem;
    margin-bottom: 2rem;
 }

 .expertise {
   font-size: 1rem;
   display: flex;
   align-items: center;
   gap: 8px;
   margin-bottom: 1rem;
 }


/* Profile card back */ 

.about-section{
   padding: 0 4rem;
}

.about-title {
   font-weight: 700;
   font-size: 1.6rem;
   color: #ffff;
   padding-top: 3rem;
   padding-bottom: 0.8rem;
}

.about-text {
   font-style: normal;
   text-align: justify;
   font-weight: 400;
   font-size: 1.2rem;
   line-height: 1.6;
   color: #ffff;
}

.interests-section {
   padding: 0 3.5rem 2rem;
}

.interests-title {
   font-weight: 700;
   font-size: 1.5rem;
   color: #FFFFFF;
   margin-top: 2.5rem;
   margin-bottom: 2rem;
}

.interest {
  font-size: 1rem;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 1rem;
}

 footer{
    width: 320px;
    height: 55px;
    background: #161619;
    border-radius: 0px 0px 10px 10px;
    padding: 18px 72px 22px;
 }

 .icons{
     display: flex;
     justify-content: space-between;
 }

 .social-icon{
    font-size: 20px;
    color: #918E9B;
    align-items: center;
 }

 .social-icon:hover{
   color: #FFFFFF;
 }

@media screen and (max-width: 1200px) { 

.card-subtitle {
   font-size: 1.4rem;
   padding: 0 10rem;
}

.flipping-cards {
   margin-bottom: 5rem;
   width: 100%;
   max-width: 700px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 1fr;
   grid-column-gap: 60px;
   grid-row-gap: 30px;
}

.third-profile-card {
   justify-items: center;
   align-items: center;
}
}

@media screen and (max-width: 700px) { 

.card-title {
   font-size: 3rem;
   padding-left: 2rem;
   padding-right: 2rem;
 }

 .card-subtitle {
    font-size: 1.4rem;
    padding: 0 6rem;
 }

 .flipping-cards {
   margin-bottom: 5rem;
   width: 100%;
   max-width: 300px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 60px;
   grid-row-gap: 30px;
 }

 }

 @media screen and (max-width: 450px) { 

.card-title {
   font-size: 3rem;
   padding-left: 2rem;
   padding-right: 2rem;
}

.card-subtitle {
   font-size: 1.2rem;
   padding: 0 3rem;
}

.flipping-cards {
   margin-bottom: 5rem;
   width: 100%;
   max-width: 320px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: repeat(3, 1fr);
   grid-column-gap: 60px;
   grid-row-gap: 30px;
}

}

@media screen and (max-width: 400px) { 
    #portfolio {
        padding: 0;
    }
    .sub-title {
        font-size: 32px;}

        #about {
        padding: 0;
        }
        .card-section {
            padding-top: 0rem;
        }
        .card-title {
            font-size: 2rem;
            padding-left: 1rem;
            padding-right: 0rem;
        }
        .profile-card {
            height: 27rem;}
}
@media screen and (max-width: 1500px) { 
    .profile-card {
        height: 36rem;}

}


